footer.footer
    ul.footer__list
        li.footer__item
            a.footer__link(href='https://documenter.getpostman.com/view/11072195/TVemC9ir' target="_blank") Dokumentacja
        li.footer__item
            a.footer__link(href='#') FAQ
        li.footer__item
            a.footer__link(href='#') Autor
        li.footer__item
            a.footer__link(href='#') Kontakt
    img.footer__img(src='/img/logo.png' alt='Logo' title='Designed by Freepik / www.freepik.com')
    .footer__desc
        | Praca została wykonana przez Adriana Sikorę, na potrzeby obrony
        | tytułu inżyniera.