nav.sidebar.sidebar--left
  a(href='/')
    .side-logo
      img.side-logo__image(src='/img/logo.png' alt='Logo' title='Designed by Freepik / www.freepik.com')
  ul.side-nav
    li.side-nav__item
      a.side-nav__link(href='/overview')
        img.side-nav__icon(src='/img/icons/geography--v1.png')
        span Pe&lstrok;na oferta
    li.side-nav__item
      a.side-nav__link(href='/summer')
        img.side-nav__icon(src='/img/icons/palm-tree.png')
        span Wakacje / Lato 2021
    li.side-nav__item
      a.side-nav__link(href='/winter')
        img.side-nav__icon(src='/img/icons/winter.png')
        span Ferie zimowe 2021
    li.side-nav__item
      a.side-nav__link(href='/country-tours')
        img.side-nav__icon(src='/img/icons/museum--v1.png')
        span Wycieczki krajoznawcze
    li.side-nav__item
      a.side-nav__link(href='/exotic')
        img.side-nav__icon(src='/img/icons/coconut-cocktail.png')
        span Wycieczki egzotyczne
  img#dark-mode-toggle.darkModeToogle(src='/img/icons/sun.png')
