<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />

    <script
      type="text/javascript"
      src="http://code.jquery.com/jquery-1.11.3.min.js"
    ></script>
    <script type="text/javascript" src="js/jquery.vmap.js"></script>
    <script
      type="text/javascript"
      src="js/jquery.vmap.world.js"
      charset="utf-8"
    ></script>
    <script type="text/javascript" src="js/index.js" charset="utf-8"></script>

    <title>Lapikaris - spełniaj marzenia</title>
  </head>
  <body>
    <div class="container">
      <nav class="sidebar sidebar--left">
        <a href="index.html">
          <div class="side-logo">
            <img
              src="img/logo.png"
              alt="Logo"
              class="side-logo__image"
              title="Designed by Freepik / www.freepik.com"
            />
          </div>
        </a>

        <ul class="side-nav">
          <li class="side-nav__item">
            <a href="#" class="side-nav__link">
              <img
                src="https://img.icons8.com/material/30/3B2001/geography--v1.png"
                class="side-nav__icon"
              />
              <span>Pełna oferta</span>
            </a>
          </li>
          <li class="side-nav__item">
            <a href="#" class="side-nav__link">
              <img
                src="https://img.icons8.com/material/30/3B2001/palm-tree.png"
                class="side-nav__icon"
              />
              <span>Wakacje / Lato 2021</span>
            </a>
          </li>
          <li class="side-nav__item">
            <a href="#" class="side-nav__link">
              <img
                src="https://img.icons8.com/material/30/3B2001/winter.png"
                class="side-nav__icon"
              />
              <span>Ferie zimowe 2021</span>
            </a>
          </li>
          <li class="side-nav__item">
            <a href="#" class="side-nav__link">
              <img
                src="https://img.icons8.com/material/30/3B2001/museum--v1.png"
                class="side-nav__icon"
              />
              <span>Wycieczki krajoznawcze</span>
            </a>
          </li>
          <li class="side-nav__item">
            <a href="#" class="side-nav__link">
              <img
                src="https://img.icons8.com/ios-filled/30/3B2001/coconut-cocktail.png"
                class="side-nav__icon"
              />
              <span>Wycieczki egzotyczne</span>
            </a>
          </li>
          <li class="side-nav__item">
            <a href="#" class="side-nav__link">
              <img
                src="https://img.icons8.com/ios-filled/30/3B2001/airplane-take-off.png"
                class="side-nav__icon"
              />
              <span>Loty</span>
            </a>
          </li>
        </ul>
      </nav>

      <nav class="sidebar sidebar--right u-text-center">
        <div class="profile">
          <figure class="profile__circle">
            <img
              src="img/user-1.jpg"
              aly="Person on a tour"
              class="profile__img"
            />
            <figcaption class="profile__caption">
              <a href="#" class="profile__link">Marc Smith</a>
            </figcaption>
          </figure>
        </div>

        <ul class="side-nav">
          <li class="side-nav__item">
            <a href="#" class="side-nav__link">
              <span>Użytkownicy</span>
            </a>
          </li>
          <li class="side-nav__item">
            <a href="#" class="side-nav__link">
              <span>Wycieczki</span>
            </a>
          </li>
        </ul>

        <!-- <div class="ad">
          <img src="img/ad.png" alt="Reklama" class="ad__content" />
        </div> -->

        <ul class="side-nav">
          <li class="side-nav__item">
            <a href="#" class="side-nav__link">
              <span>Wyloguj</span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="content">
        <div class="content__header">
          <header class="header header--small">
            <h1 class="header__title header__title--subpage">Wycieczki</h1>
            <img
              src="img/japan-1.jpg"
              alt="Zdjęcie Japonii"
              class="header__img u-img-dark"
            />
          </header>
        </div>

        <div class="map">
          <div
            id="vmap"
            style="width: 700px; height: 500px"
            class="map-style"
          ></div>
        </div>

        <div class="search-options">
          <form class="search search-form">
            <input
              type="text"
              class="search__input"
              placeholder="Szukaj..."
              required
            />

            <button class="search__button">
              <img
                src="https://img.icons8.com/material/23/3B2001/search--v1.png"
              />
            </button>
          </form>

          <select id="sort" class="select-tag">
            <option value="" class="select-tag__item">Sortowanie</option>
            <option value="">A-Z</option>
            <option value="">Z-A</option>
            <option value="">Najnowsze</option>
            <option value="">Najstarsze</option>
          </select>

          <a href="add-tour.html" class="add-tour">
            <img
              src="https://img.icons8.com/material-outlined/30/3B2001/plus-math.png"
            />
          </a>
        </div>

        <div class="tours">
          <ul class="tours__list">
            <li class="tours__item">
              <span class="tours__data--big">Japonia</span>
              <span class="tours__data--big">3499 PLN</span>
              <div class="tours__actions">
                <a href="tour.html" class="tours__actions-item">
                  <img
                    src="https://img.icons8.com/material-outlined/20/3B2001/visible.png"
                    title="Podgląd"
                    class="tours__actions-pic"
                  />
                </a>
                <a href="edit-tour.html" class="tours__actions-item">
                  <img
                    src="https://img.icons8.com/ios-filled/20/3B2001/settings.png"
                    title="Edycja"
                    class="tours__actions-pic"
                  />
                </a>
                <a href="#" class="tours__actions-item">
                  <img
                    src="https://img.icons8.com/material-outlined/20/3B2001/trash.png"
                    title="Usuń wycieczkę"
                    class="tours__actions-pic"
                  />
                </a>
              </div>
            </li>
            <li class="tours__item">
              <span class="tours__data--big">Korea Południowa</span>
              <span class="tours__data--big">3499 PLN</span>
              <div class="tours__actions">
                <a href="tour.html" class="tours__actions-item">
                  <img
                    src="https://img.icons8.com/material-outlined/20/3B2001/visible.png"
                    title="Podgląd"
                    class="tours__actions-pic"
                  />
                </a>
                <a href="#" class="tours__actions-item">
                  <img
                    src="https://img.icons8.com/ios-filled/20/3B2001/settings.png"
                    title="Edycja"
                    class="tours__actions-pic"
                  />
                </a>
                <a href="#" class="tours__actions-item">
                  <img
                    src="https://img.icons8.com/material-outlined/20/3B2001/trash.png"
                    title="Usuń wycieczkę"
                    class="tours__actions-pic"
                  />
                </a>
              </div>
            </li>
            <li class="tours__item">
              <span class="tours__data--big">Hiszpania</span>
              <span class="tours__data--big">3499 PLN</span>
              <div class="tours__actions">
                <a href="tour.html" class="tours__actions-item">
                  <img
                    src="https://img.icons8.com/material-outlined/20/3B2001/visible.png"
                    title="Podgląd"
                    class="tours__actions-pic"
                  />
                </a>
                <a href="#" class="tours__actions-item">
                  <img
                    src="https://img.icons8.com/ios-filled/20/3B2001/settings.png"
                    title="Edycja"
                    class="tours__actions-pic"
                  />
                </a>
                <a href="#" class="tours__actions-item">
                  <img
                    src="https://img.icons8.com/material-outlined/20/3B2001/trash.png"
                    title="Usuń wycieczkę"
                    class="tours__actions-pic"
                  />
                </a>
              </div>
            </li>
            <li class="tours__item">
              <span class="tours__data--big">Tajlandia</span>
              <span class="tours__data--big">3499 PLN</span>
              <div class="tours__actions">
                <a href="tour.html" class="tours__actions-item">
                  <img
                    src="https://img.icons8.com/material-outlined/20/3B2001/visible.png"
                    title="Podgląd"
                    class="tours__actions-pic"
                  />
                </a>
                <a href="#" class="tours__actions-item">
                  <img
                    src="https://img.icons8.com/ios-filled/20/3B2001/settings.png"
                    title="Edycja"
                    class="tours__actions-pic"
                  />
                </a>
                <a href="#" class="tours__actions-item">
                  <img
                    src="https://img.icons8.com/material-outlined/20/3B2001/trash.png"
                    title="Usuń wycieczkę"
                    class="tours__actions-pic"
                  />
                </a>
              </div>
            </li>
          </ul>
        </div>

        <div class="u-space"></div>

        <div class="content__paginate">
          <img
            src="https://img.icons8.com/material/35/3B2001/circled-chevron-left--v1.png"
            class="page-arrow"
          />
          <input
            type="text"
            placeholder="1"
            id="pageNumber"
            class="page-number"
          />
          <img
            src="https://img.icons8.com/material/35/3B2001/circled-chevron-right--v1.png"
            class="page-arrow"
          />
        </div>

        <footer class="footer">
          <ul class="footer__list">
            <li class="footer__item">
              <a href="" class="footer__link">Regulamin</a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">FAQ</a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">Autor</a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">Prawa autorskie</a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">Kontakt</a>
            </li>
          </ul>

          <img
            src="img/logo.png"
            alt="Logo"
            class="footer__img"
            title="Designed by Freepik / www.freepik.com"
          />

          <div class="footer__desc">
            Praca została wykonana przez Adriana Sikorę, na potrzeby obrony
            tytułu inżyniera.
          </div>
        </footer>
      </div>
    </div>
    <script
      type="text/javascript"
      src="js/overview.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="js/darkmode.js"
      charset="utf-8"
    ></script>
  </body>
</html>
